# Android / Gradle
.gradle/
build/
*/build/
.cxx/
.externalNativeBuild/

# Local SDK/NDK settings
local.properties

# IntelliJ / Android Studio
.idea/
*.iml

# Logs / OS files
*.log
*.tmp
.DS_Store
Thumbs.db

# Captures
captures/

# Keystore files (DO NOT COMMIT)
*.jks
*.keystore